
$primary-color: #007bff;
$secondary-color: #28a745;
$light-gray: #f8f9fa;
$white: #fff;
$primary-text-color: #333;
$secondary-text-color: #6c757d;


$primary-font: 'Arial', sans-serif;
$secondary-font: 'Verdana', sans-serif;


$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;