.header {
  padding: 20px 0;
  background-color: $white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10; 

  &__container {
    @include container();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: block;
    z-index: 15; 

    img {
      height: 30px;
      width: auto; 
    }
  }

  .nav {
    &__list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 25px; 
    }

    &__item:first-child {
      margin-left: 0; 
    }

    &__link {
      text-decoration: none;
      color: $primary-text-color;
      font-weight: 500;
      transition: color 0.3s ease;
      position: relative;

      &:hover {
        color: $primary-color;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0;
        height: 2px;
        background: $primary-color;
        transition: width 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .button--primary {
    font-size: 0.9rem;
    padding: 14px 28px;
    transition: transform 0.2s; 

    &:hover {
      transform: translateY(-2px);
    }
  }
}